@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Rubik Vinyl', cursive, sans-serif;
    background-color: #4FE6F1;
    /* background-color: 4FE6F1,5EDBEE,6CD1EB,7BC6E8,89BBE4,98B1E1,A6A6DE */
    ;
    /* font-family:Arial, Helvetica, sans-serif; */

}
main{
    width: 550px;
    height: 550px ;
    
}
h1{
    margin-top: 20px;
    font-family: 'Rubik Vinyl', cursive, sans-serif;
    color: white;
    filter: drop-shadow(.5rem .5rem .3rem rgba(248, 87, 166, .6));
}
.score-board{
    width: 550px;
    height: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.score-board label{
    font-size: 1.2rem;
    color:blue;
    margin:4px;
    
}
.score-board input{
    width: 180px;
    height: 2rem;
    border-radius: 20px;
    text-indent: 8px;
    text-transform: capitalize;
}
#show-msg{
    letter-spacing: 2px;
    color: green;
    font-family: 'Roboto',sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
}
#start-btn{
    display:block;
    height: 2rem;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    font-family: inherit;
    background-color: #f857a6;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: .3rem .3rem .3rem rgba(248, 87, 166, 0.5);
    transition: transform .4s;
}
#start-btn:hover{
    transform: scale(1.1);
    transition: transform .4s;
}


#banner{
    height: 100px;
    width: 300px;
    border: 1px solid black;
    border-left-style:dotted ;
    border-right-style:dotted ;
    position: relative;
    border-right: transparent;
    border-left: transparent;
    display: none;
}
#banner::before{
    content: '';
    height: 100px;
    width:100px;
    border: 1px solid black;
    position: absolute;
    left: -65px;
    border-radius: 100%;

}
#banner::after{
    content: '';
    height: 100px;
    width:100px;
    border: 1px solid black;
    position: absolute;
    right: -65px;
    border-radius: 100%

}

.game-board{
   margin-top: 20px ;
   margin-bottom: 20px;
   width: 100%;
   height: fit-content; 
   /* border: 5px solid aquamarine; */
   padding: 0;
   border-radius: 10%;
   position: relative;
   
}

.row{
    height: calc(100%/3);
    width: 100%;
    display: flex;
}

.square{
    /* background-color: rgba(255, 12, 73, 0.749); */
    border: 4px solid aqua;
    border-radius: 10%;
    width: calc(100%/3);
    height: 180px;
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
    text-align: center;
    text-shadow: .5rem .5rem 6px grey ;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: .5rem .5rem .5rem rgba(248, 87, 166, 0.6);
}

#reset{
    width: 200px;
    margin: 5px;
    height: 2rem;
    font-size: 1.5rem;
    background-color:#f857a6;
    font-family:inherit;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: .3rem .3rem .3rem rgba(248, 87, 166, 0.5);
    margin-bottom: 20px;
    transition: transform .4s;
}
#reset:hover{
    transform: scale(1.1);
    transition: transform .4s;
}
#play-again{
    width: 200px;
    height: 2rem;
    margin: 5px;
    font-size: 1.5rem;
    background-color:#f857a6;
    font-family:inherit;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: .3rem .3rem .3rem rgba(248, 87, 166, 0.5);
    margin-bottom: 20px;
    transition: transform .4s;
}
#play-again:hover{
    transform: scale(1.1);
    transition: transform .4s;
}






/* .players{
    width: 90vw;
    display: flex;
    justify-content: space-between;
}
select{
    width: 100px;
    height: 2rem;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
#toss{
    width: 10rem;
    height: 3rem;
    background-color: rgb(215, 29, 150);
    color: aliceblue;
} */